/* Aula inicial :D */
body {
    background-image:url('https://www.significadofacil.com/wp-content/uploads/2019/07/background.jpg');
    backdrop-filter: blur(15px);
    background-size:auto 100vh;
    height:100vh;
    font-family:arial;
    margin:0px;
  }
  
  .menu {
    background-color:white
  }
  
  .menu ul{
    display:flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none
  }
  
  a{
    color:teal;
    text-decoration: none;
  }
  
  a:haver{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color:	#48D1CC;
    text-align:center;
  }